<div class="card pd-card">
    <img src="{{product.image.url}}" class="card-img-top pd-image p-2" alt= />
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class='card-text card-description'>{{ product.description.slice(3,-4)}}</p>
      <p class="card-text">MRP:₹{{product.price.raw}}<del class="text-danger ms-2">{{(product.price.raw * 1.2).toFixed(2)}}</del></p>
      <p class='deliver'><strong>Free Delivery By FurniQuest</strong></p>
      <a routerLink="/products/{{product.id}}" class="btn btn-warning">View Product</a>
    </div>
  </div>