<footer class="bg-dark text-light py-4 mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>About</h5>
                <ul class="list-unstyled">
                    <li>About Us</li>
                    <li>Our Team</li>
                    <li>Our Mission</li>
                    <li>Terms of Service</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Help</h5>
                <ul class="list-unstyled">
                    <li>FAQs</li>
                    <li>Support</li>
                    <li>Contact Us</li>
                </ul>
            </div>
            <div class="col-md-3  border-end border-white">
                <h5>Consumer Policy</h5>
                <ul class="list-unstyled">
                    <li>Privacy Policy</li>
                    <li>Refund Policy</li>
                    <li>Shipping Policy</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Mail Us</h5>
                <address>
                    123 Main Street<br />
                    City, State 12345<br />
                    Email: info&#64;example.com
                </address>
            </div>
        </div>
        <div class="row border-top border-white mt-4  " style="height: 8vh;">
            <div class="col text-center d-flex justify-content-center align-items-center my-auto">
                <p class='m-0'>© 2024 FurniQuest. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>