<div class='container'>
    <div class="offer-banner">
      
      <img src="https://github.com/shameelvk/furniquest-ecommerce-react/blob/master/src/components/OfferImages/images/star-sale.png?raw=true" alt="Offer Banner" class="img-fluid" />
    </div>

    <div class="container">
      <div class="row justify-content-center m-2">
      
        <div class="col-md-4 col-sm-6 col-12 text-center mb-4">
          <img src="https://github.com/shameelvk/furniquest-ecommerce-react/blob/master/src/components/OfferImages/images/p4A.png?raw=true" alt="Offer 1" class="img-fluid" />
        </div>
        <div class="col-md-4 col-sm-6 col-12 text-center mb-4">
          <img src="https://github.com/shameelvk/furniquest-ecommerce-react/blob/master/src/components/OfferImages/images/p4B.png?raw=true" alt="Offer 2" class="img-fluid" />
        </div>

       
        <div class="col-md-4 col-sm-6 col-12 text-center mb-4">
          <img src="https://github.com/shameelvk/furniquest-ecommerce-react/blob/master/src/components/OfferImages/images/p4C.png?raw=true" alt="Offer 3" class="img-fluid" />
        </div>
        <div class="col-md-4 col-sm-6 col-12 text-center mb-4">
          <img src="https://github.com/shameelvk/furniquest-ecommerce-react/blob/master/src/components/OfferImages/images/p4D.png?raw=true" alt="Offer 1" class="img-fluid" />
        </div>
        <div class="col-md-4 col-sm-6 col-12 text-center mb-4">
          <img src="https://github.com/shameelvk/furniquest-ecommerce-react/blob/master/src/components/OfferImages/images/p4E.png?raw=true" alt="Offer 2" class="img-fluid" />
        </div>

       
        <div class="col-md-4 col-sm-6 col-12 text-center mb-4">
          <img src="https://github.com/shameelvk/furniquest-ecommerce-react/blob/master/src/components/OfferImages/images/p4F.png?raw=true" alt="Offer 3" class="img-fluid" />
        </div>
      </div>
    </div>
    <div class="offer-banner">
      
      <img src="https://github.com/shameelvk/furniquest-ecommerce-react/blob/master/src/components/OfferImages/images/top-categories.png?raw=true" alt="Offer Banner" class="img-fluid" />
    </div>

    <div class="container">
      <div class="row justify-content-center m-2">
        
        <div class="col-md-4 col-sm-6 col-12 text-center mb-4">
          <img src="https://github.com/shameelvk/furniquest-ecommerce-react/blob/master/src/components/OfferImages/images/p1.png?raw=true" alt="Offer 1" class="img-fluid" />
        </div>

        
        <div class="col-md-4 col-sm-6 col-12 text-center mb-4">
          <img src="https://github.com/shameelvk/furniquest-ecommerce-react/blob/master/src/components/OfferImages/images/p2.png?raw=true" alt="Offer 2" class="img-fluid" />
        </div>

        
        <div class="col-md-4 col-sm-6 col-12 text-center mb-4">
          <img src="https://github.com/shameelvk/furniquest-ecommerce-react/blob/master/src/components/OfferImages/images/p3.png?raw=true" alt="Offer 3" class="img-fluid" />
        </div>
        <div class="col-md-4 col-sm-6 col-12 text-center mb-4">
          <img src="https://github.com/shameelvk/furniquest-ecommerce-react/blob/master/src/components/OfferImages/images/p4.jpg?raw=true" alt="Offer 1" class="img-fluid" />
        </div>

        
        <div class="col-md-4 col-sm-6 col-12 text-center mb-4">
          <img src="https://github.com/shameelvk/furniquest-ecommerce-react/blob/master/src/components/OfferImages/images/p5.png?raw=true" alt="Offer 2" class="img-fluid" />
        </div>

        
        <div class="col-md-4 col-sm-6 col-12 text-center mb-4">
          <img src="https://github.com/shameelvk/furniquest-ecommerce-react/blob/master/src/components/OfferImages/images/p6.jpg?raw=true" alt="Offer 3" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>