<div class="container-fluid  border-top">
      <div class="row">
        <div class="col-2 d-none d-lg-block"></div>
        <div class="col-lg-8 col-12 d-flex flex-nowrap overflow-auto">
          <div class="d-flex justify-content-center flex-wrap">
            @for (cat of categories ; track cat.id) {
              <a  [routerLink]="['/products']" 
              [queryParams]="{ cat: cat.id }"   class="nav-link text-center p-3 fw-bolder" activeclass="active" routerLinkActive="active">{{cat.name}}</a>
              
            }
            </div>
        </div>
        <div class="col-2 d-none d-lg-block"></div>
      </div>
    </div>